dj-database-url==0.5.0
Django==2.2.6
django-bootstrap-breadcrumbs==0.9.1
django-crispy-forms==1.7.2
django-heroku==0.3.1
django-view-breadcrumbs==0.1.0
gunicorn==19.9.0
Pillow
psycopg2==2.8.4
pytz==2019.3
six==1.12.0
sqlparse==0.3.0
whitenoise==4.1.4
